.teamStatistics{
    background-color: #393C45;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0 7px 16px 0 rgb(0 0 0 / 20%), 0 1px 3px 0 rgb(0 0 0 / 10%);
}
.team{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}