.home{
    margin: 5%;
    background-color: #72788A;
    border-radius: 7px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 7px;
    box-shadow: 0 7px 16px 0 rgb(0 0 0 / 20%), 0 1px 3px 0 rgb(0 0 0 / 10%);
}
.page{
    background-attachment: fixed;
    background-color: #1B2326;
}
.logIn{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
