@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
.app{
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #1B2326;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}